.body {
    background-image: url('/../cwd/unit-1-hello/assets/galaxy-bg.jpg');
    background-color: rgb(97, 9, 152);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.top {
    position: sticky;
    top: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(206, 153, 255);
    height: 100%;
    max-height: 80px;
    z-index: -1;
    color: #000;
}

.logo {
    width: 100%;
    margin-left: 0%;
    margin-right: 90%;
}

.title {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 60%;
    padding-top: 3%;
    box-sizing: border-box;
    margin: auto;
}

.sub-heading {
    text-align: center;
    justify-content: center;
    height: 5rem;
    text-shadow: yellow;
}

.container {
  display: grid;
  grid-template-areas:
    "header header"
    "menu content"
    "footer footer";
  grid-template-columns: 1fr 3fr;
  gap: 3px;
  background-color: rgb(120, 190, 203);
  padding: 5px;
  width: 50%;
  align-content: space-between;
}

.container div {
  background-color: white;
  padding: 10px;
}

.container div.header {
  grid-area: header;
  text-align: center;
}

.container div.menu {
  grid-area: menu;
}

.container div.content {
  grid-area: content;
}

.container div.footer {
  grid-area: footer;
  text-align: center;  
}