* {
    box-sizing: border-box;
}

html {
    font-family: system-ui, -apple-system,
        "Segoe UI", Roboto, "Helvectica Neue", "Noto Sans",
        Arial, Helvetica, sans-serif;
}


body {
    background-image: url('/../images/background-image.svg');
}

.nav {
    background-color: #113343;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__left, .nav__right {
    display: flex;
    justify-content: left;
    align-items: center;
}

.nav__middle {
    flex: 1 0 0;
    text-align: center;
}

.nav__brand {
    display: block;
    color: white;
    text-decoration: none;
    height: 4rem;
    line-height: 4rem;
}

.img__brand {
    width: 6rem;
    height: 6rem;
    vertical-align: bottom;
}

.nav__brand:hover .img__brand {
    color: #71b68a;
}

.button {
    background-color: #F35A39;
    color: white;
    text-decoration: none;
    padding: 0rem 1rem;
    border-radius: 0.5rem;
    line-height: 2.5rem;
    display: inline-block;
    border:0;
}

.button:hover {
    background-color: #853523;
}

.img__button {
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    top: 0.4rem;
    margin-right: 0.4rem;
}

.container {
    box-sizing: border-box;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1300px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

.main {
    position: relative;
    overflow: hidden;
    padding-bottom: 2rem;
}

.main::before,
.main::after {
    content: "";
    display: block;
    position: absolute;
    top: -1rem;
    bottom: -1rem;
    width: 10rem;
    background-image: url('../images/fix.svg');
    background-size: cover;
    background-position: right center;
    z-index: -1;
    opacity: 0.1;
    min-height: 100rem;

}

.main::before {
    left: 0;
}

.main::after {
    right: 0;
    transform: scaleX(-1);
}

.main-heading {
    color: #113343;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 0.25em;
    margin-top: 0;
    padding-top: 0.67em;
}

.card {
    background-color: #F3F4F5;
    padding: 0rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

@media (min-width: 768px) {
    .card {
        flex-direction: row;
    }
}

.card__heading {
    margin: 0;
}

.card__image {
    display: block;
    height: 15rem;
    width: 100%;
    object-fit: cover;
    box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
    .card__image {
        width: 10rem;
        height: 2rem;
        min-height: 100%;
        box-shadow: 0.25rem 0rem 0.5rem rgba(0, 0, 0, 0.1);
    }
}

.card__desc-container {
    padding-left: 1rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
}

.card__desc-time {
    color: #328677;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

.card__heading {
    color: #113343;
    font-size: 1.75rem;
}

.card__heading:after {
    content: "";
    display: block;
    width: 6rem;
    height: 0.125rem;
    background-color:#328677;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.card__paragraph {
    color: #113343;
    line-height: 1.33em;
    font-size: 1rem;
}

.pagination {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0; 
    justify-content: flex-end;
}

.pagination__link {
    display: block;
    color:#113343;
    border: 0.125rem solid rgb(200, 200, 200);
    width: 2rem;
    height: 2rem;
    text-decoration: none;
    text-align: center;
    line-height: 1.75rem;
    margin-left: 0.5rem;
    border-radius: 0.5rem;
    background-color: white;
}

.pagination__link:hover {
    color: white;
    background-color: #328677;
    border: 0.125rem solid #328677;
}

.pagination__link--active {
    border: 0.125rem solid #328677;
    color: #328677;
}

.footer {
    background-color: #113343;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.footer::after {
    content: "";
    display: block;
    width: 7.5rem;
    height: 0.125rem;
    background-color: white;
    margin: 0 auto;
    opacity: 0.5;
    margin-top: 2.5rem;
}

.footer__heading {
    color: white;
}

.footer__desc {
    color: #71b68a;
    max-width: 20rem;
    line-height: 1.33em;
}
.form-group {
    display: flex;
    margin-bottom: 1rem;
}

.form-group__label,
.form-group__input {
    display: block;
    color: #113343;
    text-transform: uppercase;
    background-color: rgb(200, 200, 200);
    border-style: solid;
    border-color:  rgb(100, 100, 100);
    padding: 0.5rem 1rem;
    font-weight: bold;
}

.form-group__label {
    flex: 0 0 7.5rem;
    border-top-width: 0.125rem;
    border-left-width: 0.125rem;
    border-bottom-width: 0.125rem;
    border-right-width: 0;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.form-group__input {
    flex: 1 0 10rem;
    border-top-width: 0.125rem;
    border-right-width: 0.125rem;
    border-bottom-width: 0.125rem;
    border-left-width: 0;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.form-submit {
    display: flex;
    justify-content: flex-end;
}