.body {
    background-image: url('/../cwd/unit-1-hello/assets/galaxy-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(191, 148, 231);
    padding: 10px 20px;
    margin-bottom: 60px;
    border: 2px solid white;
}

.logo-container {
    display: contents;
    text-decoration: none;
    color: inherit;
    gap: 15px;
}

.logo {
    max-width: 300px;
    max-height: 300px;
    height: auto;
    width: 40%;
}

h1 {
    margin: 0;
}

.sub-heading {
    text-align: center;
    justify-content: center;
    height: 5rem;
    text-shadow: yellow;
}

.container {
  display: grid;
  grid-template-areas:
    "header header"
    "menu content"
    "footer footer";
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  grid-gap: 20px;
  grid-auto-rows: .005fr;
}

.left-container, .right-container {
    flex: 1;
    padding: 1rem;
    border: 2px solid white;
    background-color: rgb(191, 148, 231);
    margin-bottom: 5rem;
}

.container div.header {
  grid-area: header;
  text-align: center;
  border: 2px solid white;
}

.container div.menu {
  grid-area: menu;
  text-align: center;
}

.container div.content {
  grid-area: content;
  display: block;
  text-align: center;
}

.container div.footer {
  grid-area: footer;
  text-align: center;  
}

.footer__image {
    height: 30%;
    width: 30%;
    align-items: center;
    justify-content: center;
}