.body {
    background-image: url('/../cwd/unit-1-hello/assets/galaxy-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(206, 153, 255);
    padding: 10px 20px;
}

.logo-container {
    display: contents;
    text-decoration: none;
    color: inherit;
    gap: 15px;
}

.logo {
    max-width: 100px;
    max-height: 100px;
    height: 30%;
    width: 20%;

}

h1 {
    font-size: 1.5rem;
    margin: 0;
}

.sub-heading {
    text-align: center;
    justify-content: center;
    height: 5rem;
    text-shadow: yellow;
}

.container {
  display: grid;
  grid-template-areas:
    "header header"
    "menu content"
    "footer footer";
  grid-template-columns: 1fr 3fr;
  background-color: rgb(120, 190, 203);
}

.container div {
  background-color: white;
  padding: 10px;
}

.container div.header {
  grid-area: header;
  text-align: center;
}

.container div.menu {
  grid-area: menu;
}

.container div.content {
  grid-area: content;
}

.container div.footer {
  grid-area: footer;
  text-align: center;  
}

.menu-link {
    padding-bottom: 3rem;
}